@use "./index" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Outline", sans-serif;
  font-size: 15px;
}

main {
  background-color: getColor("light-gray");
  min-width: 320px;
  max-width: 375px;
  margin: 50px auto;
  padding: 90px 30px;
  box-shadow: 0px 5px 8px 1px getColor("grayish-blue");
}

@media screen and (min-width: 376px) {
  main {
    max-width: 1440px;
  }
}
